*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/sakuraback.jpg);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: 1980px 130px;
}
#t1{
    text-align: center;
    font-size: 55px;
    font-weight: 600;

}
#t2{
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;

    font-size: 30px;
    font-weight: 600;
}
nav{
    background-color: #ffd9e6;
    box-shadow: 3px 3px 5px black;
    width: 40%;
    height: 40px;
    margin: auto;
    border-radius: 7px;
    padding-top: 10px;
    z-index: 1000;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;

}
@media screen and (max-width:1200px) {
    nav{
        width: 60%;
    }
}
@media screen and (max-width:900px) {
    nav{
        width:80%;
    }
}
@media screen and (max-width:600px) {
    nav{
        width:95%;
    }
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex;
    gap: 20px;

}
nav li{
    border-radius: 10px;
    width: 20%;
    height: 50px;
    
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

a:link { 
    color: black;
    text-decoration: none; 
  } 
a:visited { 
    color: black;
    text-decoration: none; 
  } 
a:hover { 
    color: black;
    text-decoration: none; 
  } 
a:active { 
    color: black;
    text-decoration: none; 
  }
.first{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 96%;
}
.first .mainimage{
    display: block;
    width: 100%;
}
.firstpara{
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
}
#sakura{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    
}
#desc{
    font-size: 20px;
    font-weight: 0;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
    text-indent: 1em;
}
@media screen and (max-width:1200px) {
    #desc{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media screen and (max-width:900px) {
    #desc{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width:600px) {
    #desc{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
.container{
    width: auto;
    max-width: 1385px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    border-radius: 5px;
    background-color: #e2dfe4;
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-left: 11rem;
    margin-right: 15rem;
}
@media screen and (max-width:1200px) {
    .container{
        margin-left: 6rem;
        margin-right: 9rem;
        gap: 4rem;
    }
}
@media screen and (max-width:900px) {
    .container{
        margin-left: 2rem;
        margin-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        gap: 2rem;
    }
}
@media screen and (max-width:600px) {
    .container{
        margin-left: 0.5rem;
        margin-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        gap: 1rem;
    }
}

.item{
    width: 500px;
    height: 360px;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.item img{
    border: 2px solid black;
}
.container p{
    text-align: left;
}
#desc1{
    font-size: 20px;
    font-weight: 0;
    text-indent: 1em;
    margin-left: 15rem;
    margin-right: 15rem;
}
@media screen and (max-width:1200px) {
    #desc1{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media screen and (max-width:900px) {
    #desc1{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width:600px) {
    #desc1{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

#blog{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    
}
.container1{
    font-size: 20px;
    font-weight: 0;
    margin-left: 15rem;
    margin-right: 15rem;
}
@media screen and (max-width:1200px) {
    .container1{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media screen and (max-width:900px) {
    .container1{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media screen and (max-width:600px) {
    .container1{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
.container1 p{
    text-indent: 1em;
}
.map{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    background-color: #FFB7C5;
    border-top: 1px solid black;
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
    
}

.copyright{
    font-size: 0.7rem;
    
}
